table {
	border-spacing: 0;
	border-collapse: collapse;
}

caption {
	border: 1px solid #000;
	border-bottom: none;
	font-family: sans-serif;
	font-weight: 800;
}

th {
	border: 1px solid #000;
	font-family: sans-serif;
	font-weight: 600;
	padding: 0 5px;
}

td {
	border: 1px solid #000;
	font-family: sans-serif;
	font-weight: 200;
	padding: 0 5px;
}

.holiday {
	color: red;
}
