@media (width <= 1100px) {
	.our-advantages {
		display: none;
	}
}

.our-advantages__container {
	position: relative;
	max-width: 100%;
	min-height: 1042px;
	background-image: url(../../images/our-advantages-backgrond.png);
	background-size: 100% 1042px;
}

.our-advantages__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 50px;
}

@media (width <= 1848px) {
	.our-advantages__wrapper {
		margin-bottom: 110px;
	}
}

@media (width <= 1220px) {
	.our-advantages__wrapper {
		display: inline-flex;
		position: relative;
		align-items: center;
	}
}

.advantages__cards-title {
	flex-grow: 1;
}

/* @media (width <= 1450px) {
	.advantages__cards-title {
		flex-grow: initial;
	}
} */

.our-advantages__title {
	margin-top: 97px;
	font-weight: 900;
	font-size: 75px;
	line-height: 109%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
	white-space: nowrap;
}

@media (width <= 1450px) {
	.our-advantages__title {
		font-size: 65px;
		white-space: wrap;
	}
}

@media (width <= 768px) {
	.our-advantages__title {
		font-size: 50px;
	}
}

@media (width <= 576px) {
	.our-advantages__title {
		font-size: 36px;
	}
}

.our-advantages__question {
	margin-top: 33px;
}

@media (width <= 1450px) {
	.our-advantages__question {
		font-size: 22px;
	}
}

@media (width <= 1100px) {
	.our-advantages__question {
		margin-bottom: 50px;
	}
}

@media (width <= 768px) {
	.our-advantages__question {
		font-size: 20px;
	}
}

@media (width <= 576px) {
	.our-advantages__question {
		font-size: 18px;
	}
}

.advantages__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(433px, 1fr));
	gap: 29px 30px;
	margin-top: 45px;
}

@media (width <= 1385px) {
	.advantages__cards {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}

@media (width <= 1100px) {
	.advantages__cards {
		grid-template-columns: minmax(350px, 1fr);
	}
}

.our-advantages__card {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
	flex-wrap: nowrap;
	padding-top: 50px;
	min-height: 298px;
	background-color: var(--bg-color-burger-menu);
	padding-inline: 51px 31px;
}

.our-advantages__card-text {
	padding-bottom: 13px;
}

@media (width <= 768px) {
	.our-advantages__card-text {
		font-size: 16px;
	}
}

.oa-text-1::before {
	content: "";
	display: block;
	background: url(../../icons/dress-icon.svg);
	width: 80px;
	height: 80px;
	margin-bottom: 30px;
}

@media (width <= 768px) {
	.oa-text-1::before {
		transform: scale(0.8);
	}
}

@media (width <= 576px) {
	.oa-text-1::before {
		transform: scale(0.55);
		margin-bottom: 11px;
	}
}

.oa-text-2::before {
	content: "";
	display: block;
	background: url(../../icons/cd-icon.svg);
	width: 86px;
	height: 86px;
	margin-bottom: 30px;
}

@media (width <= 768px) {
	.oa-text-2::before {
		transform: scale(0.8);
	}
}

@media (width <= 576px) {
	.oa-text-2::before {
		transform: scale(0.55);
		margin-bottom: 11px;
	}
}

.oa-text-3::before {
	content: "";
	display: block;
	background: url(../../icons/party-icon.svg);
	width: 80px;
	height: 80px;
	margin-bottom: 30px;
}

@media (width <= 768px) {
	.oa-text-3::before {
		transform: scale(0.8);
	}
}

@media (width <= 576px) {
	.oa-text-3::before {
		transform: scale(0.55);
		margin-bottom: 11px;
	}
}

.oa-text-4::before {
	content: "";
	display: block;
	background: url(../../icons/cash-icon.svg);
	width: 68px;
	height: 64px;
	margin-bottom: 30px;
}

@media (width <= 768px) {
	.oa-text-4::before {
		transform: scale(0.8);
	}
}

@media (width <= 576px) {
	.oa-text-4::before {
		transform: scale(0.55);
		margin-bottom: 11px;
	}
}

.oa-text-5::before {
	content: "";
	display: block;
	background: url(../../icons/goal-icon.svg);
	width: 86px;
	height: 86px;
	margin-bottom: 30px;
}

@media (width <= 768px) {
	.oa-text-5::before {
		transform: scale(0.8);
	}
}

@media (width <= 576px) {
	.oa-text-5::before {
		transform: scale(0.55);
		margin-bottom: 11px;
	}
}

.oa-text-6::before {
	content: "";
	display: block;
	background: url(../../icons/champagne-icon.svg);
	width: 62px;
	height: 62px;
	margin-bottom: 30px;
}

@media (width <= 768px) {
	.oa-text-6::before {
		transform: scale(0.8);
	}
}

@media (width <= 576px) {
	.oa-text-6::before {
		transform: scale(0.55);
		margin-bottom: 11px;
	}
}

.advantages__span,
.advantages__span--another {
	color: #f69020;
}

.advantages__span--another {
	padding-left: 25px;
}

.card-text__addition {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
	flex-wrap: nowrap;
	flex-shrink: 0;
	padding-bottom: 22px;
}

.card-text__addition--another {
	flex-wrap: nowrap;
	padding-bottom: 0;
}

.without-collect {
	padding-left: 25px;
	color: #f69020;
	padding-bottom: 22px;
}

@media (width <= 768px) {
	.card-text__addition,
	.card-text__addition--another,
	.without-collect {
		font-size: 14px;
	}
}

.card-text__addition::before,
.card-text__addition--another::before {
	content: "";
	display: block;
	background: url(../../icons/check-icon.svg);
	width: 16px;
	height: 16px;
}

.card-text__addition--another::before {
	flex-shrink: 0;
}

.advantages__micro {
	display: flex;
	flex-direction: column;
}

/* @media (width <= 1220px) {
	.advantages__micro {
		position: sticky;
		top: 0;
		right: 0;
	}
} */

.our-advantages__microphone {
	width: 450px;
	height: 684px;
	background-image: url(../../images/microphone-image.png);
	flex-shrink: 0;
}

@media (width <= 1450px) {
	.our-advantages__microphone {
		min-width: 100%;
	}
}

/* @media (width <= 1220px) {
	.our-advantages__microphone {
		position: sticky;
		top: 0px;
		left: 0;
		right: 0;
	}
} */

.our-advantages__button {
	border-radius: 60px;
	width: 277px;
	height: 70px;
	background: linear-gradient(141deg, #ea422a 0%, #f69020 47.92%, #ffc619 100%);
	transition: color var(--transition-time);
	margin-left: 109px;
	margin-top: 45px;
}

@media (width <= 992px) {
	.our-advantages__button {
		width: 323px;
	}
}

@media (any-hover: hover) {
	.our-advantages__button:hover {
		color: var(--main-color);
	}
}

/* мобильная версия */
/* мобильная версия */
/* мобильная версия */

@media (width > 1100px) {
	.our-advantages-mobile {
		display: none;
	}
}

.oa-mobile-container {
	max-width: 100%;
	min-height: 1089px;
	background-image: url(../../images/advant-mobile-background.png);
	background-size: 100% 1089px;
}

.oa-mobile__wrapper {
	margin-left: 5px;
}

.oa-mobile__flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.oa-mobile__inner {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 11px;
}

.oa-mobile__inner--left {
	flex: 1 1 0;
	min-width: 0;
}

.our-advantages__card--mobile-1 {
	min-height: 129px;
}

.our-advantages__card--mobile-3 {
	min-height: 173px;
}

.our-advantages__card--mobile-4 {
	min-height: 224px;
}

.oa-mobile__inner--right {
	flex: 1 1 0;
	min-width: 0;
}

.our-advantages__card--mobile-2 {
	min-height: 272px;
}

.our-advantages__card--mobile-5 {
	min-height: 163px;
}

.our-advantages__card--mobile-6 {
	min-height: 247px;
}

.our-advantages__card--mobile {
	width: 100%;
	flex-shrink: 0;
	padding-top: 18px;
	padding-left: 18px;
}

.our-advantages__button--mobile {
	margin-left: 0;
	margin-bottom: 50px;
	width: 50%;
}

@media (width <= 576px) {
	.our-advantages__button--mobile {
		width: 70%;
	}
}